ion-content ion-toolbar {
  --background: translucent;
}

ion-card-content {
  padding: 10px;
}

ion-card-header {
  padding-top: 5px;
}

ion-card-title {
  font-size: 16px;
  color: #ababab;
  text-align: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-card-subtitle {
  font-size: 17px;
  color: #141413;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
  font-size: 16px;
  color: #141413;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-card {
  --ion-background-color: #ebe65e;
}

// .title {
//   color: #EBE65E;
// }

