<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Post Message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>

    <ion-card-content>

      <ion-item>
        <ion-label position="stacked">Your Message</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Image URL:</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button expand="block" color="secondary">Submit</ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>
