ion-content ion-toolbar {
  --background: translucent;
}

ion-card {
  --background: #ebe65e;
}

ion-item {
  --background: #ebe65e;
}

.label {
  font-size: 14px;
  color: #141413;
  font-family: 'Roboto', sans-serif;
}

.main-button{
  --background: #141413;
  font-size: 18px;
  color: #ebe65e;
  font-family: 'Roboto', sans-serif;
  margin-top: 8%;
}
