ion-content ion-toolbar {
  --background: translucent;
}

.main-button{
  --background: #141413;
  font-size: 18px;
  color: #ebe65e;
  font-family: 'Roboto', sans-serif;
  margin-top: 2%;
  margin-left: 21.5px;
  
}

.tab3Items {
  margin-left: 0px;
  padding-left: 0px;
}

.cardContent {
  margin: 0;
  padding-left: 0;
}
